
body{
    height: 100vh;
    background: linear-gradient(90deg, hsla(208, 7%, 55%, 1) 0%, rgb(40, 43, 43) 100%);
}

.loginPage {
    padding-top: 25px;
    min-width: 350px;
    max-width: 500px;
    margin: auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coloredBorder{
 
    border-radius: 20px;
    display: flex;
    width: 100%;
    background-image: linear-gradient(to top, #ffbc6c, #fdb26e, #f9a871, #f49f74, #ee9777, #e79079, #df8a7b, #d7847c, #cd7e7d, #c2787e, #b6737d, #aa6e7c);    
    box-shadow: 35px 15px 15px 10px hsla(0, 0%, 0%, 0.329);
}
   
.container{
    display: grid;
   
    height: 100%;
    /* border: solid 1px; */
    width: 100%;
    margin: 10px;
    padding: 50px;
    border-radius: 10px;
    background: hsla(0, 0%, 100%, 0.733);
}

.title{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.form-group{
    display: flex;
    flex-direction: column;

}
.field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;

}

input{
    height: 35px;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 10px 15px 10px 2px hsla(0, 0%, 0%, 0.329);
}
.sub{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.btn{
    display: flex;
}
.button{ 
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    flex-grow: 1;
    height: 50px;
    font-size: 2rem;
    background: #E48D7A;
    border: solid 1px black;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    animation: roll 3s infinite;
    animation-direction: normal;
    box-shadow: 10px 15px 10px 2px hsla(0, 0%, 0%, 0.329);
}



/* ANIMATION */

.coloredBorder{
    animation-name: stretch;
    animation-duration: 1s; 

    }
    
    @keyframes stretch {
    0% {
      transform: scale(.3);
    }


    100% {
      transform: scale(1);
  
    }

    
}


/* div de connexion */

.alert {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    padding: 5px 0;
    margin-bottom: 5px;
    background: #c2787e;
}
.success {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    padding: 5px 0;
    margin-bottom: 5px;
    background: #84A07C;
}

