@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root{
    --header-hight: 50px;
    --gradient-bg : linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
body {
    /* font-family: 'League Gothic', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: var(--header-hight);
    padding: 1rem;
    line-height: 1.5rem;
    border-bottom:  black solid 1px;
    background: linear-gradient(45deg, #FFFFFF 0%, #000000 100%);
    color: #FFF6F9;
    box-shadow: 1px 1px 4px #FFF6F9;
}

.header__name{
    font-size: 1.5rem;
    font-weight: bold;
    /* font-style: italic;   */
}
.header__job--left{
    font-size: 1.3rem;
    text-align: center;
    animation: jobleft 3s ;
    display: inline-block;
    animation-timing-function: cubic-bezier(0.55, 0.45, 0.675, 1.1);
}
.header__job--right{
    font-size: 1.3rem;
    text-align: center;
    display: inline-block;
    animation: jobright 3s;
    animation-timing-function: cubic-bezier(0.55, 0.45, 0.675, 1.1);

    font-style: italic;  
  
}


.section-one{
    height: calc(80vh - var(--header-hight));
    
}
.section-two__background{
    background: rgba(7, 7, 7, 0.849);
}
.section-two{
    color: #FFF6F9;
   
    padding-bottom: 1rem;
}
.section-two__title , .section-one__title{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1.5rem 0;
    text-decoration: underline wavy 1px;
    text-align: center;

}

.section-one__txt{
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 15px;
}
.marginBot--mid{
    margin-bottom: 2rem;
}
.box__citation{
    display: flex;
    justify-content: center;
 
  
}

.section-one__citation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
    gap: 1rem;
    padding: 0.5rem;
    border: solid 2px #403e41;
    box-shadow: 1px 1px 4px #403e41 ;
    border-radius: 30px 10px 30px 10px;
    max-width: 350px;
    min-height: 50px;
    font-size: 1.2rem;
    font-style: italic;
}

.citation--author{
    font-size: 0.8rem;
    font-style: normal;
    align-self: flex-end;
}

.section-two__gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 250px);
    margin: 0 auto;
    gap: 1rem;

}
.gallery{
    border: solid 1px white;
    border-radius: 20px;
}

/* ANIM  */


  @keyframes jobleft {
    from {
        color: black;
        transform: translate(-600px );
    }

  
    to {
        /* transform: translate(-20px); */

    }
  }
  @keyframes jobright {
    from {
        color: black;
        transform: translate(600px);
    }
    to {
        /* transform: translate(20px); */

    }
  }


/* 
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px */
@media (max-width: 768px){
    .gallery{
        width: 300px;
    }
    .section-two__gallery{
        justify-items: center;
    }
}
@media (min-width:768px) {
    .section-one, .section-two{
        margin: 0 100px;
    }
    .section-two__gallery{
        grid-template-columns: 1fr 1fr;

    }

}
@media (min-width:992px) {
    .section-one, .section-two{
        margin: 0 200px;
    }
}